---
// Component Imports
import BaseHead from "../components/BaseHead.astro";
import SpaceCanvas from "../components/SpaceCanvas";
// import BlogHeader from "../components/BlogHeader.astro";
// import BlogPostPreview from "../components/BlogPostPreview.astro";

// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
let title = "Leniorko's Place";
let description = "Long alpha is coming";

// Data Fetching: List all Markdown posts in the repo.

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">
  <head>
    <BaseHead description={description} title={title} />
  </head>
  <body>
    <div
      class="min-w-full min-h-screen relative flex flex-col justify-center items-center text-white"
    >
      <h1 class="mt-auto">{title}</h1>
      <p class="mt-3">
        Frontend developer, future (at least I hope) Data Scientist, and IT
        enthusiast in general.
      </p>
      <p class="text-sm text-slate-400">(Not a designer though)</p>
      <a href="/personal-website-core/posts/" class="mt-auto mb-3"
        >Check my old articles here (Russian language only)
      </a>
      <SpaceCanvas client:idle />
    </div>
  </body>
</html>
